<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="demo">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="TestCases_UI.HBI_HomePageTest"/>
      <class name="TestCases_UI.HBI_LoginPageTest"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- demo -->
